//Colors variables
$sidebar-color: #72767d;
$sidebar-select-item: #82868e;
$basic-white-color: #ffffff;
$sidebar-text-color: #ffffff;

//Верхние удалить и поменять на более общие категории
$main-color-gray: #72767d;
$main-color-white: #ffffff;
$select-item-gray:#82868e;






