html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    @include font-main;
    background: linear-gradient(0deg, #9ea1a9, #bcc1cb, #d8dee9, #e3e8f4);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
